In [1]:
from chalk.client import ChalkClient
from src.models import User, Transaction

In [2]:
client = ChalkClient(branch="main")

In [8]:
ds = client.offline_query(
    input={User.id: [1]},
    output=[User.count_payments],
    recompute_features=True
)
ds.to_pandas()

╭──────────────────────────────────────────────────── chalk ■ ────────────────────────────────────────────────────╮
│                                                                                                                 │
│  The `DatasetRevision` is still being computed. to_pandas() will execute once computation is complete.          │
│                                                                                                                 │
│  Dataset Recomputation completed   0:00:01                                                                      │
│                                                                                                                 │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯

,user.count_payments__86400__,user.id,user.count_payments__2592000__,user.count_payments__604800__
0,0,1,0,0
1,0,2,0,0
2,0,3,0,0

In [9]:
ds2 = client.offline_query(
    input={Transaction.id: [1, 2, 3, 4, 5]},
    output=[Transaction.memo, Transaction.user_id, Transaction.amount],
    recompute_features=True
)
ds2.to_pandas()

╭──────────────────────────────────────────────── chalk ■ ────────────────────────────────────────────────╮
│                                                                                                         │
│  The `DatasetRevision` is still being computed. to_pandas() will execute once computation is complete.  │
│                                                                                                         │
│  Dataset Recomputation completed   0:00:02                                                              │
│     0:00:01 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 runs [ get_transaction_category ]              │
│     0:00:00 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 runs [ get_structured_outputs ]                │
│                                                                                                         │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────╯

,transaction.user_id,transaction.amount,transaction.id,transaction.category
0,1,-12.45,1,food
1,1,-12.45,2,Food and Drink
2,1,-64.50,3,Shopping