In [2]:
from chalk.client import ChalkClient
from chalk import _
from src.models import User, Transaction

In [3]:
client = ChalkClient()

## Online queries from code

In [4]:
client.query(
    input={User.id: 1},
    output=[
        User,
        User.credit_report.percent_past_due,
    ],
    staleness={
        User.credit_report.percent_past_due: "0s",
    },
)

[FeatureResult(field='user.id', value=1, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='unknown', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=4611686018427387904), FeatureResult(field='user.email', value='nicoleam@nasa.gov', pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='users', cache_hit=False, primitive_type="<class 'str'>", version=1), metadata_val=1210134007879891837), FeatureResult(field='user.name', value='Nicole Mann', pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='users', cache_hit=False, primitive_type="<class 'str'>", version=1), metadata_val=1210134007879891837), FeatureResult(field='user.dob', value='1977-08-27', pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='users', cache_hit=False, primitive_type="<class 'datetime.date'>", version=1), metadata_val=1210134007879891837), FeatureResult(field='user.email_username', value='nicoleam', pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='src.resolvers.get_email_username', cache_hit=False, primitive_type="<class 'str'>", version=1), metadata_val=1223125333585557569), FeatureResult(field='user.domain_name', value='nasa.gov', pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='src.resolvers.get_domain_name', cache_hit=False, primitive_type="<class 'str'>", version=1), metadata_val=1170220722759026595), FeatureResult(field='user.denylisted', value=False, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='src.resolvers.email_in_denylist', cache_hit=False, primitive_type="<class 'bool'>", version=1), metadata_val=1219736239295741840), FeatureResult(field='user.name_email_match_score', value=75.0, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='__chalk_underscore__.user_dot_name_email_match_score', cache_hit=False, primitive_type="<class 'float'>", version=1), metadata_val=1215127750448048704), FeatureResult(field='user.emailage_response', value='{"domainAge": 10200, "domainname": "nasa.gov", "emailAge": 4257}', pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='src.resolvers.get_email_age', cache_hit=False, primitive_type="<class 'str'>", version=1), metadata_val=1198763842115644618), FeatureResult(field='user.email_age_days', value=4257, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='src.resolvers.get_emailage_features', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=1209830133924936493), FeatureResult(field='user.domain_age_days', value=10200, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='src.resolvers.get_emailage_features', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=1209830133924936493), FeatureResult(field='user.credit_report_id', value=123, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='src.resolvers.get_credit_report', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=1208350085384995271), FeatureResult(field='user.total_spend', value=26725.309999999983, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='__chalk_underscore__.user_dot_total_spend', cache_hit=False, primitive_type="<class 'float'>", version=1), metadata_val=1195889968277573816), FeatureResult(field='user.count_withdrawals__86400__', value=6, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='__chalk_underscore__.user_dot_count_withdrawals__86400__', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=1199351007702647605), FeatureResult(field='user.count_withdrawals__604800__', value=24, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='__chalk_underscore__.user_dot_count_withdrawals__604800__', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=1158267913893255952), FeatureResult(field='user.count_withdrawals__2592000__', value=94, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='__chalk_underscore__.user_dot_count_withdrawals__2592000__', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=1164254908756496630), FeatureResult(field='user.count_withdrawals__31536000__', value=514, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='__chalk_underscore__.user_dot_count_withdrawals__31536000__', cache_hit=False, primitive_type="<class 'int'>", version=1), metadata_val=1199667237356192522), FeatureResult(field='user.llm', value={'response': '{"financial_stability": "average", "requires_manual_review": false}', 'prompt': {'model': 'llama3-8b-8192', 'messages': [{'role': 'system', 'content': '\nYou are a financial risk analysis assistant. Your role is to  assess financial stability based on structured user and credit report inputs.\n\nYour response MUST be a valid JSON object matching the following schema:\n{\n  "financial_stability": "good|average|poor",\n  "requires_manual_review": true|false,\n}\n\nAnalysis Guidelines:\n1. Financial Stability Assessment:\n   - Classify based on percent past due:\n     * Good: 0-5%\n     * Average: 6-20%\n     * Poor: >20%\n   - Analyze payment history and credit utilization\n\nBe objective and data-driven. If information is missing, state your assumptions.\n'}, {'role': 'user', 'content': '\nAnalyze the financial stability of a user based on the following inputs:\n\n1977-08-27: date of birth\nFalse: denylisted status\n75.0: name-email match score\n{"domainAge": 10200, "domainname": "nasa.gov", "emailAge": 2184}: email age response\n2184: number of days since the email was created\n10200: number of days since the domain was registered\n123: credit report ID\nA detailed credit report including:\n    - 2: the number of tradelines\n    - 14406.8: the total balance across all tradelines\n    - 20000.0: the total amount across all tradelines\n    - 0.0: the percentage of overdue payments\n    - 400.0: the total payment amount across all tradelines\n\nThe financial stability evaluation should:\n1. Assess the financial stability of the user by analyzing their credit report data:\n   - Compute 0.0 and categorize the user\'s credit health as Good, Average, or Poor.\n   - Calculate their total financial obligations (14406.8 and 20000.0) to understand the scale of their liabilities.\n   - Analyze the user\'s payment history (400.0) to determine their repayment behavior.'}], 'timeout_seconds': None, 'output_structure': '{"title": "StructuredOutput", "type": "object", "properties": {"financial_stability": {"title": "Financial Stability", "enum": ["good", "average", "poor"], "type": "string"}, "requires_manual_review": {"title": "Requires Manual Review", "type": "boolean"}}, "required": ["financial_stability", "requires_manual_review"]}', 'temperature': 0.1, 'top_p': 0.1, 'max_completion_tokens': None, 'max_tokens': 8192, 'stop': None, 'presence_penalty': None, 'frequency_penalty': None, 'logit_bias': None, 'seed': None, 'user': None, 'model_provider': 'openai', 'base_url': 'https://api.groq.com/openai/v1', 'num_retries': None}, 'usage': {'input_tokens': 1206, 'output_tokens': 72, 'total_tokens': 1278}, 'runtime_stats': {'total_latency': 0.46897767297923565, 'last_try_latency': 0.38404701091349125, 'total_retries': 0, 'rate_limit_retries': 0}}, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='unknown', cache_hit=True, primitive_type="<class 'chalk.features._encoding.primitive.__chalk_struct__user.llm'>", version=1), metadata_val=2305843009213693952), FeatureResult(field='user.llm_financial_stability', value='average', pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='unknown', cache_hit=True, primitive_type="<class 'str'>", version=1), metadata_val=2305843009213693952), FeatureResult(field='user.llm_requires_manual_review', value=False, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='unknown', cache_hit=True, primitive_type="<class 'bool'>", version=1), metadata_val=2305843009213693952), FeatureResult(field='user.credit_report.percent_past_due', value=0.0, pkey=None, error=None, valid=True, ts=datetime.datetime(2025, 6, 20, 22, 45, 24, tzinfo=datetime.timezone.utc), meta=FeatureResolutionMeta(chosen_resolver_fqn='__chalk_underscore__.credit_report_dot_percent_past_due', cache_hit=False, primitive_type="<class 'float'>", version=1), metadata_val=1180779257632753346)]

,Feature,Value
0,id,1
1,email,nicoleam@nasa.gov
2,name,Nicole Mann
3,dob,1977-08-27
4,email_username,nicoleam
5,domain_name,nasa.gov
6,denylisted,False
7,name_email_match_score,75.0
8,emailage_response,"{""domainAge"": 10200, ""domainname"": ""nasa.gov"",..."
9,email_age_days,4257
10,domain_age_days,10200
11,credit_report_id,123
12,total_spend,26725.31
13,count_withdrawals[1d],6
14,count_withdrawals[7d],24
15,count_withdrawals[30d],94
16,count_withdrawals[365d],514
17,llm,"response='{""financial_stability"": ""average"", ""..."
18,llm_financial_stability,FinancialStability.AVERAGE
19,llm_requires_manual_review,False
20,percent_past_due,0.0

## Offline queries

In [22]:
client.offline_query(
    input_sql='''
      select
          user_id as "user.id",
          created_at as __ts__
      from "datasources.postgres.fraud_events"
      order by created_at desc
      limit 30
    ''',
    output=[
        User.name,
        User.denylisted,
        User.name_email_match_score,
        User.domain_name,
        User.email_username,
        User.credit_report.percent_past_due,
    ],
    recompute_features=True,
).to_pandas()

,user.name,user.denylisted,user.name_email_match_score,user.domain_name,user.email_username,user.credit_report.percent_past_due,user.credit_report.id,user.id
0,Jackson Garter,False,66.666667,gmail.com,jackson3388,0.0,123,3
1,Olivia Martinez,False,82.758621,gmail.com,oliviamartinez99,0.0,123,8
2,Samuel Rivera,False,80.000000,gmail.com,samuelrivera34,0.0,123,31
3,Penelope Powell,False,82.758621,gmail.com,penelopepowell11,0.0,123,48
4,Avery Simmons,False,80.000000,gmail.com,averysimmons99,0.0,123,91
5,Chloe Reed,False,73.684211,gmail.com,chloereed77,0.0,123,105
6,Mia Thompson,False,78.260870,gmail.com,miathompson29,0.0,123,12
7,Alexander King,False,81.481481,gmail.com,alexanderking45,0.0,123,19
8,Stella Foster,False,80.000000,gmail.com,stellafoster88,0.0,123,54
9,Noah Griffin,False,78.260870,gmail.com,noahgriffin78,0.0,123,72
10,Olivia Ward,False,76.190476,gmail.com,oliviaward55,0.0,123,83
11,Layla Nelson,False,78.260870,gmail.com,laylanelson33,0.0,123,101
12,Madison Morris,False,81.481481,gmail.com,madisonmorris58,0.0,123,34
13,Layla Gomez,False,76.190476,gmail.com,laylagomez22,0.0,123,42
14,Eli Ward,False,66.666667,gmail.com,eliward88,0.0,123,67
15,Charlotte Mitchell,False,85.714286,gmail.com,charlottemitchell33,0.0,123,89
16,Mila Barnes,False,76.190476,gmail.com,milabarnes77,0.0,123,99
17,Michael Brown,False,80.000000,gmail.com,michaelbrown56,0.0,123,7
18,Harper White,False,78.260870,gmail.com,harperwhite99,0.0,123,16
19,Matthew Baker,False,80.000000,gmail.com,matthewbaker79,0.0,123,23
20,Sebastian Flores,False,83.870968,gmail.com,sebastianflores55,0.0,123,45
21,Luna Jenkins,False,78.260870,gmail.com,lunajenkins22,0.0,123,56
22,Logan Evans,False,76.190476,gmail.com,loganevans22,0.0,123,78
23,Stella Alexander,False,83.870968,gmail.com,stellaalexander99,0.0,123,115
24,Hudson White,False,78.260870,gmail.com,hudsonwhite77,0.0,123,126

In [ ]:
client.offline_query(
    max_samples=100,
    output=[Transaction.memo, Transaction.user_id, Transaction.amount],
    recompute_features=True,
).to_pandas()